  @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

  * {
      margin: 0px;
      box-sizing: content-box;
  }

  body {
      font-family: 'Noto Sans KR', '나눔고딕', NanumGothic, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif;
  }

  header {
      height: 170px;
      border-bottom: 1px solid #ddd;
  }

  a {
      text-decoration: none;
      border-bottom: none;
  }

  .mainmenu,
  .mainmenu2 {
      display: flex;
      align-items: center;
      height: 50px;
  }

  .top_menu {
      height: 50px;
      background-color: #243c84;
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  .menu_1 {
      padding: 0 20px;
      display: flex;
      background-color: white;
      height: 50px;
      align-items: center;

  }

  .menu_2,
  .menu_3 {
      display: flex;
      padding-left: 20px;
      height: 50px;
      align-items: center;
  }

  .menu_4,
  .menu_5,
  .menu_6,
  .menu_7 {
      display: flex;
      height: 50px;
      align-items: center;
      padding-right: 17px;
  }

  .menu_8 {
      display: flex;
      height: 50px;
      align-items: center;
      padding-right: 20px;
  }

  #menu_font {
      font-size: 13px;
      color: #1d326c;
      font-weight: 900;
      font-family: 'Noto Sans KR';
      line-height: 1.7em;
  }

  #menu_font2,
  #menu_font3,
  #menu_font4,
  #menu_font5,
  #menu_font6,
  #menu_font7,
  #menu_font8 {
      font-size: 13px;
      color: #fff;
      font-family: 'Noto Sans KR';
      line-height: 1.7em;
  }

  .menu_2_img,
  .menu_3_img {
      height: 10px;
      width: 1px;
      margin-left: 19px;
      background: url(https://www.ediya.com/images/common/util_line.gif) no-repeat;
  }

  .menu_4_img,
  .menu_5_img,
  .menu_6_img,
  .menu_7_img {
      height: 10px;
      width: 1px;
      margin-left: 17px;
      background: url(https://www.ediya.com/images/common/util_line.gif) no-repeat;
      /* padding-left:1px; */
  }

  .blog_img {
      width: 22px;
      height: 22px;
  }

  .instagram_img,
  .facebook_img,
  .youtube_img {
      width: 22px;
      height: 22px;
      margin-left: 5px;
  }

  .top_search {
      width: 122px;
      height: 30px;
      border: 0px;
      padding: 0px;
      margin-left: 20px;
  }

  .top_search_img {
      width: 38px;
      height: 30px;
      background-color: #fff;
      margin-right: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .logo {
      display: inline-block;
      position: relative;
      top: 30px;
      left: 50%;
      margin-left: -101px;
      clear: both;
  }

  .logo_menu {
      display: flex;
      position: absolute;
      top: 125px;
      left: 50%;
      width: auto;
      margin-left: -514px;
      font-family: 'Nunito Sans', sans-serif;
      padding: 0 40px;
  }

  .logo_menu1 {
      padding-right: 40px;
      color: #202023;
  }

  .logo_menu2,
  .logo_menu3,
  .logo_menu4,
  .logo_menu5,
  .logo_menu6,
  .logo_menu7 {
      padding: 0 40px;
  }

  .logo_text1,
  .logo_text2,
  .logo_text3,
  .logo_text4,
  .logo_text5,
  .logo_text6,
  .logo_text7 {
      color: #202023;

  }
